@mixin transition($properties, $duration, $ease) {
    transition: $properties, $duration, $ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

.hidden {
    opacity: 0;
}

#success-message {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80px;
    width: 100%;
    @include transition(opacity, 0.5s, ease-out);

    p {
        background-color: #d4edda;
        color: #155724;
        padding: 1rem;
        border-radius: 0.25rem;
    }
}

#nav {
    background-color: #0056b3;
}

#navDiv {
    background-color: #ffffff;
}

h1,
h2,
#contactH3 {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    text-align: center;
}

.btn {
    border-radius: 0.25rem;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.card-text {
    font-size: 16px;
}

.container-fluid {
    background-color: rgb(132, 133, 133);
}

.navbar-brand,
.nav-item a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    transition: all 0.25s;
    font-size: 20px;
    color: black;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #ff5733;
        transition: width 0.3s;
        position: absolute;
        left: 0;
        bottom: -5px;
    }

    &:hover::after {
        width: 100%;
    }
}

p a {
    text-decoration: none;
}

.card-img-top {
    border-radius: 0.25rem;
}

.container {
    margin-top: 2rem;
}

.container h2 {
    margin-bottom: 1.5rem;
}

#formSubmitButton {
    margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
    .nav-item a {
        @include transition(transform, 0.1s, ease-in-out);
    }

    .nav-item a:active {
        transform: scale(1.08);
    }

    .navbar-brand {
        @include transition(transform, 0.1s, ease-in-out);
    }

    .navbar-brand:active {
        transform: scale(1.02);
    }

    .nav-item a:hover {
        background-color: inherit;
    }

    .navbar-brand:hover {
        background-color: inherit;
    }
}